@page "/student"

<button class="btn btn-primary" @onclick="@Save">Kaydet Ana Component</button>
<h3>Student List</h3>
<h5>@StudentList</h5>

<StudentDetail StudentName="Gökay" Tikla="@Save"></StudentDetail>

<h5>@saveMessage</h5>

@code {
    public string StudentList { get; set; }
    private string saveMessage;

    protected override async Task OnInitializedAsync()
    {
        StudentList = "Gökay Lorem Ipsum";
    }

    private void Save(MouseEventArgs e)
    {
        saveMessage = "Kaydedildi";
    }
}