@page "/validation"
@using BlazorIntro.Models

<h3>Validation</h3>

<EditForm Model="@productAddModel" OnValidSubmit="@HandleSave">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <h4>Ürün adı</h4>
    <InputText id="productName" @bind-Value="@productAddModel.ProductName" />
    <h4>Ürün açıklaması</h4>
    <InputText id="description" @bind-Value="@productAddModel.Description" />
    <button type="submit">Kaydet</button>
</EditForm>

@code {
    ProductAddModel productAddModel = new ProductAddModel();

    private void HandleSave()
    {
        Console.WriteLine("Ürün eklendi");
    }
}